@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalización de la barra de desplazamiento */
.modal-content::-webkit-scrollbar {
    display: none;
  }
  
  .modal-content {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }